<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alivio - whoops</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <nav>
        <h2 class="logo">Alivio</h2>
        <ul>
            <li><a href="/">Why Alivio</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
        <div>
            <a href="#">Sign in</a>
            <button>Start Trial</button>
        </div>
    </nav>
<div id="error404">
    <img  src="assets/img/404.svg" alt="">
</div>

    <footer>
        <h3 class="logo">Alivio</h3>
        <ul>
            <li><a href="/">Why Alivio</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
    </footer>
</body>
</html>