<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alivio - solutions</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <nav>
        <h2 class="logo">Alivio</h2>
        <ul>
            <li><a href="/">Why Alivio</a></li>
            <li><a href="/solutions" class="navActive">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
        <div>
            <a href="#">Sign in</a>
            <button>Start Trial</button>
        </div>
    </nav>

    <header>
        <div>
            <h1>Be aware, <br> Manage well.</h1>
            <p>Everyone experiences stress in different ways. <br>
                Let Alivio guide you, in a personalized journal <br> experience, to overcome your stress.</p>
            <button>Find Your Way</button>
        </div>
    </header>

<section class="solutions">
    <article>
        <h2>Let's hear about <br> Kayla's success story</h2>
        <p>See how well Alivio works in a real customer's life.</p>
        <button>Let's get started</button>
    </article>
    <img src="assets/img/Video.png" alt="">
</section>




    <footer>
        <h3 class="logo">Alivio</h3>
        <ul>
            <li><a href="/">Why Alivio</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
    </footer>
</body>
</html>