<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alivio - why</title>
</head>
<body>
    <nav>
        <h2 class="logo">Alivio</h2>
        <ul>
            <li><a href="/why" class="navActive">Why Alivio</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
        <div>
            <a href="#">Sign in</a>
            <button>Start Trial</button>
        </div>
    </nav>

    <header>
        <div>
            <h1>Be aware, <br> Manage well.</h1>
            <p>Everyone experiences stress in different ways. <br>
                Let Alivio guide you, in a personalized journal <br> experience, to overcome your stress.</p>
            <button>Find Your Way</button>
        </div>
    </header>






    <footer>
        <h3 class="logo">Alivio</h3>
        <ul>
            <li><a href="/why" class="navActive">Why Alivio</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
    </footer>
</body>
</html>